.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;    
}
/* nav top  */
#main-mav-top ul li a{
	color: #FFFFFF;
}
#main-mav-top ul li:hover a{
	color: black;
}
#main-mav-top ul li ul li:hover a {
	color: red;
	background-color: #FFFFFF;
}
/* nav fixed top  */
#main-mav-top-fixed ul li{
    z-index: 1111111111111;
}
#main-mav-top-fixed ul li a{
    color: #FFFFFF;
}
#main-mav-top-fixed ul li:hover a{
    color: black;
}
#main-mav-top-fixed ul li ul li:hover a {
    color: red;
    background-color: #FFFFFF;
}
/* ========================= */
.navbar-toggle{
	color: red;
}
.login{	
	margin: 5px;
	color: green;
}
#foot{
    background-color: #16a085;
}
.menu h2 {
    color: #FFFFFF; 
}
#foot li{
    list-style: none;
}
#foot li a{
    text-decoration: none;
    color: #FFFFFF;
}
.menu li {
    padding: 3px;
    font-size: 14px;
    text-align: left;
}
.menu li:hover a{
    text-decoration: underline;
}
.no-padding-right{
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-top{
    padding-top: 0;
}
.no-padding-bot{
    padding-bottom: 0;
}
.no-padding{
    padding: 0;
}
.li-menu-tab{
    list-style: none;    
    line-height: 20px;
    padding: 0;
}
.li-menu-tab li {
    color: blue;
    overflow:hidden;
    text-overflow:ellipsis;

}
#coppy{
	background-color: #2c3e50;
}
#coppy p{
	color: #FFFFFF;
	padding-top: 5px;
}

/* fix top NAV */
#fixNav{
  width: 100%;
  height: 35px;
  display: block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  display: none;
}
.new-cat li{
    list-style: none;
    padding-top: 5px;
    padding-left: 5px;
}
.new-cat li a{
    font-size: 15px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title-h3{
    font-size: 18px;
   display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-inline input[type=text]{
    width: 75%;
}
/* back to top button */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
@media(max-width:767px){
  .ul-sub {
    text-align: center;
  }
}

/* hieu ung chu nhap nhay  */
@-webkit-keyframes my {
     0% { color: #F8CD0A; } 
     50% { color: #fff;  } 
     100% { color: #f80a16;  } 
 }
 @-moz-keyframes my { 
     0% { color: #F8CD0A;  } 
     50% { color: #fff;  }
     100% { color: #f80a16;  } 
 }
 @-o-keyframes my { 
     0% { color: #F8CD0A; } 
     50% { color: #fff; } 
     100% { color: #F8CD0A;  } 
 }
 @keyframes my { 
     0% { color: #F8CD0A;  } 
     50% { color: #fff;  }
     100% { color: #f80a16;  } 
 } 
 .button {         
    font-size:24px;
    font-weight:bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite; 
    -o-animation: my 700ms infinite; 
    animation: my 700ms infinite;
}
.cat-summary {
    margin-left: 4px;
}
.noidung {
   padding: 5px;
}
.noidung img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 99%; 
}
.noidung iframe {
  display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 99%; 
}
smaill{
  color: red;
}
.ul-sub li:last-child{
  display: none;
}