/*     DÙNG CHO TRANG LOGIN  */
 /* ******************************* */
.login_img {
    width: 150px;
    height: 150px;
    background: url("../images/login_lock.png") no-repeat center center;
}
#main{
    width: 500px; margin: 40px auto; padding:5px; border: 1px dotted green;
    -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
}