body{
	padding-top: 60px;
}
/* back to top button */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.thumbnail {
	height:250px;
}
img {
    border: none;
}

.error_msg {
    text-align: left;
    color: red;
    font-weight: bold;
    padding: 20px 5px 20px 60px;
    border: 1px dotted #ccc;
    background: #f7f7f7 url("../images/warning.png") no-repeat 15px center;
    /** Thêm CSS 3.0 **/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.error_msg li{
    list-style: none;
}
.result_msg {
    text-align: left;
    font-style: italic;
    color: black;
    padding: 20px 5px 20px 60px;
    border: 1px solid green;
    background: #C1FFE0 url("../images/valid.png") no-repeat 15px center;
}